<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Killer Moster</title>
    <link rel="shortcut icon" href="./images/Icons_24.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="section scores">
            <div class="score">
                <img  class="hero" src="./images/male_hero.png">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="[{medium: playerLife < 50},{low: playerLife<= 25}]"
                        :style="{width: playerLife + '%'}"
                    ></div>
                </div>
                <div>{{playerLife}}%</div>
            </div>
            <div class="score">
                <img src="./images/BigGoblin_monster.png">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="[{medium: monsterLife < 50},{low: monsterLife<= 25}]"
                        :style="{width: monsterLife + '%'}"  
                    ></div>
                </div>
                <div>{{monsterLife}}%</div>
            </div>
        </div>
        <div class="section result" v-if="hasResult">
            <div class="win"
                v-if="monsterLife == 0">
                <p>Congratulations, you win!</p>
            </div>

            <div class="lose" 
                v-if="playerLife == 0">
                <p>Defeat, you lost!</p>
            </div>

        </div>
        <div class="section btns">
            <template v-if="running">
                <button 
                    class="btn attack" 
                    @click="attack(false)">Attack</button>
                    <button 
                        class="btn sp-attack" 
                        @click="attack(true)" >Special Attack</button>
                    <button 
                        @click="healHurt" 
                        class="btn heal">Heal</button>
                    <button 
                        @click="giveUp" 
                        class="btn give-up">Give Up</button>
            </template>
            
            <button @click="startGame" v-else class="btn new-game">Start game</button>
        </div>
        <div v-if="logs.length"
            class="section logs">
            <ul>
                <li v-for="log in logs"
                :class="log.cls" 
                class="log">{{log.text}}</li>
            </ul>
        </div>
    </div>
    
    
</body>
<script src="./app.js"></script>
</html>